:root{
    --blanco: #FEFEFE;
    --azul: #0000FF;
    --rojo: #ED5144;
    --amarilo:#D3D824;
    --azul1:#325AA6;
    --verde_oscuro:#1C2E14;
    --azul2: #0A3586;
    --negro: #000000;
    --claro: #EBEBEB;
    --verde_bajo: #80D25B;
    --aqua: #22BA8E;
    --gris_azul: #114B5F;
    --verde_ocuro:#6CB14F;
}

.card{
    z-index: 1;
}

.fondo{
    margin-top: 30px;
    background-color: var(--verde_bajo);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
}
.titulo{
    margin: 20px 0px;
    color: var(--gris_azul);
    font-family: sans-serif;
}

button{
    background-color: var(--gris_azul);
    color: var(--verde_bajo);
    border-color: var(--verde_bajo);
    border-radius: 15px;
    padding: 10px 15px;
    margin: 8px;
}
.contenedor{
    width: 90%;
    text-align: center;
    font-family: sans-serif;
}

.imagen_curso{
    height: 180px;
}

h1{
    font-size: 25px;
}
p{
    font-size: 18px;
}
.card-top{
    background-color: var(--gris_azul);
    margin: 0px 5px;
    border-radius: 20px 20px 0px 0px;
    color: #f5f5f5;
    display: grid;
    justify-content: center;
}

.card-bottom{
    display: grid;
    background-color: var(--blanco);
    margin: 0px 5px;
    border-radius: 0px 0px 20px 20px;
    color: var(--gris_azul);
    align-items: center;
    justify-content: center;
}